.Search {
    background-color: $background-color-secondary;
    color: $text-color;
    display: flex;
    height: 100px;
    align-items: center;
    padding-left: 3rem;

    h2 {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 47px;
        letter-spacing: 2px;
        margin-right: 10%;
        cursor: pointer;
    }
}

.search-form {
    margin-left: auto;
    margin-right: 2rem;
    
    input {
        width: 250px;
        height: 32px;
        padding-left: 5px;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 10px 0 0 10px;
    }

    button {
        width: 50px;
        height: 32px;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        img {
            width: 31.5%;
        }

        &:hover {
            background-color: antiquewhite;
        }
    }
}

@media screen and (max-width: 780px) {
    .Search {
        flex-direction: column;
        padding: 0;

        h2 {
            font-size: 27px;
            margin: 5px 0 0;
        }
    }

    .search-form {
        display: flex;
        align-self: center;
        margin: auto;
        
        input {
            width: 100px;
            height: 20px;
            font-size: 12px;
        }

        button {
            width: 30px;
            height: 20px;

            img {
                width: 10px;
            }
        }
    }
}