* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #2e3033;
}

.pokeball {
  width: 15%;
  z-index: 2 !important;
  display: flex;
  position: absolute;
  bottom: 45%;
  left: 45%;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.entry-number {
  color: #a8a8a8;
  font-size: 17px;
}

.entry-name {
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  background-color: #1a1c1a;
  color: #f0f0f0;
  font-size: 30px;
}

.title {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.diagonal-background {
  width: 100%;
  height: 93%;
  background: linear-gradient(to bottom right, #2e3033 0%, #2e3033 55%, #408c1b 55%, #408c1b 70%, #254f10 60%);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1 !important;
}

.PokemonList {
  margin: 10px;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  align-items: center;
}

.pokedex-item {
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1c1a;
  margin: 15px 0;
  border: solid white 2px;
  cursor: pointer;
  border-radius: 15px;
}
@media screen and (min-width: 781px) {
  .pokedex-item:hover.normal {
    box-shadow: 10px 10px #A8A77A;
    transition: 0.5s;
  }
  .pokedex-item:hover.fire {
    box-shadow: 10px 10px #EE8130;
    transition: 0.5s;
  }
  .pokedex-item:hover.water {
    box-shadow: 10px 10px #6390F0;
    transition: 0.5s;
  }
  .pokedex-item:hover.electric {
    box-shadow: 10px 10px #F7D02C;
    transition: 0.5s;
  }
  .pokedex-item:hover.grass {
    box-shadow: 10px 10px #7AC74C;
    transition: 0.5s;
  }
  .pokedex-item:hover.ice {
    box-shadow: 10px 10px #96D9D6;
    transition: 0.5s;
  }
  .pokedex-item:hover.fighting {
    box-shadow: 10px 10px #C22E28;
    transition: 0.5s;
  }
  .pokedex-item:hover.poison {
    box-shadow: 10px 10px #A33EA1;
    transition: 0.5s;
  }
  .pokedex-item:hover.ground {
    box-shadow: 10px 10px #E2BF65;
    transition: 0.5s;
  }
  .pokedex-item:hover.flying {
    box-shadow: 10px 10px #A98FF3;
    transition: 0.5s;
  }
  .pokedex-item:hover.psychic {
    box-shadow: 10px 10px #F95587;
    transition: 0.5s;
  }
  .pokedex-item:hover.bug {
    box-shadow: 10px 10px #A6B91A;
    transition: 0.5s;
  }
  .pokedex-item:hover.rock {
    box-shadow: 10px 10px #B6A136;
    transition: 0.5s;
  }
  .pokedex-item:hover.ghost {
    box-shadow: 10px 10px #735797;
    transition: 0.5s;
  }
  .pokedex-item:hover.dragon {
    box-shadow: 10px 10px #6F35FC;
    transition: 0.5s;
  }
  .pokedex-item:hover.dark {
    box-shadow: 10px 10px #705746;
    transition: 0.5s;
  }
  .pokedex-item:hover.steel {
    box-shadow: 10px 10px #B7B7CE;
    transition: 0.5s;
  }
  .pokedex-item:hover.fairy {
    box-shadow: 10px 10px #D685AD;
    transition: 0.5s;
  }
}
.pokedex-item img {
  background-color: #1a1c1a;
  width: 60%;
}
.pokedex-item .pokedex-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokedex-item .type-container {
  display: flex;
  background-color: #1a1c1a;
}

@media screen and (max-width: 780px) {
  .pokedex {
    display: flex;
    flex-direction: column;
  }
  .pokedex-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    width: 90%;
    height: 120px;
    border-radius: 0;
    border: none;
    margin: 5px;
    padding-left: 25px;
    background: linear-gradient(to right, rgba(26, 28, 26, 0) 0%, #1a1c1a 3%, #1a1c1a 97%, rgba(26, 28, 26, 0) 100%);
    -o-border-image: linear-gradient(to right, rgba(46, 48, 51, 0) 0%, #f0f0f0 10%, #f0f0f0 90%, rgba(46, 48, 51, 0) 100%) 0/1px;
       border-image: linear-gradient(to right, rgba(46, 48, 51, 0) 0%, #f0f0f0 10%, #f0f0f0 90%, rgba(46, 48, 51, 0) 100%) 0/1px;
    border-image-slice: 1;
  }
  .pokedex-item img {
    width: 90px;
  }
  .pokedex-item .type-container {
    flex-direction: column;
    justify-self: flex-start;
    margin-left: 10px;
  }
  .pokedex-item .type-container div {
    display: flex;
    margin: 5px auto;
    width: 30px;
    height: 15px;
    font-size: 9px;
    align-items: center;
    justify-content: center;
  }
  .pokedex-item .entry-name {
    font-size: 20px;
  }
}
.Pokemon {
  z-index: 2;
  background: linear-gradient(rgba(26, 28, 26, 0) 0%, #1a1c1a 1%, #1a1c1a 98%, rgba(26, 28, 26, 0) 100%);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  padding: 150px 0 450px;
  text-align: center;
  border: 3px solid white;
}
.Pokemon.normal {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A8A77A 3%, #A8A77A 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A8A77A 3%, #A8A77A 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.normal .type-border {
  border: 2px #A8A77A solid;
}
.Pokemon.fire {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #EE8130 3%, #EE8130 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #EE8130 3%, #EE8130 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.fire .type-border {
  border: 2px #EE8130 solid;
}
.Pokemon.water {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #6390F0 3%, #6390F0 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #6390F0 3%, #6390F0 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.water .type-border {
  border: 2px #6390F0 solid;
}
.Pokemon.electric {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #F7D02C 3%, #F7D02C 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #F7D02C 3%, #F7D02C 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.electric .type-border {
  border: 2px #F7D02C solid;
}
.Pokemon.grass {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #7AC74C 3%, #7AC74C 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #7AC74C 3%, #7AC74C 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.grass .type-border {
  border: 2px #7AC74C solid;
}
.Pokemon.ice {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #96D9D6 3%, #96D9D6 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #96D9D6 3%, #96D9D6 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.ice .type-border {
  border: 2px #96D9D6 solid;
}
.Pokemon.fighting {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #C22E28 3%, #C22E28 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #C22E28 3%, #C22E28 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.fighting .type-border {
  border: 2px #C22E28 solid;
}
.Pokemon.poison {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A33EA1 3%, #A33EA1 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A33EA1 3%, #A33EA1 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.poison .type-border {
  border: 2px #A33EA1 solid;
}
.Pokemon.ground {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #E2BF65 3%, #E2BF65 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #E2BF65 3%, #E2BF65 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.ground .type-border {
  border: 2px #E2BF65 solid;
}
.Pokemon.flying {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A98FF3 3%, #A98FF3 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A98FF3 3%, #A98FF3 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.flying .type-border {
  border: 2px #A98FF3 solid;
}
.Pokemon.psychic {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #F95587 3%, #F95587 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #F95587 3%, #F95587 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.psychic .type-border {
  border: 2px #F95587 solid;
}
.Pokemon.bug {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A6B91A 3%, #A6B91A 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #A6B91A 3%, #A6B91A 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.bug .type-border {
  border: 2px #A6B91A solid;
}
.Pokemon.rock {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #B6A136 3%, #B6A136 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #B6A136 3%, #B6A136 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.rock .type-border {
  border: 2px #B6A136 solid;
}
.Pokemon.ghost {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #735797 3%, #735797 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #735797 3%, #735797 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.ghost .type-border {
  border: 2px #735797 solid;
}
.Pokemon.dragon {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #6F35FC 3%, #6F35FC 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #6F35FC 3%, #6F35FC 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.dragon .type-border {
  border: 2px #6F35FC solid;
}
.Pokemon.dark {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #705746 3%, #705746 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #705746 3%, #705746 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.dark .type-border {
  border: 2px #705746 solid;
}
.Pokemon.steel {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #B7B7CE 3%, #B7B7CE 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #B7B7CE 3%, #B7B7CE 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.steel .type-border {
  border: 2px #B7B7CE solid;
}
.Pokemon.fairy {
  -o-border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #D685AD 3%, #D685AD 97%, rgba(46, 48, 51, 0) 100%);
     border-image: linear-gradient(rgba(46, 48, 51, 0) 0%, #D685AD 3%, #D685AD 97%, rgba(46, 48, 51, 0) 100%);
  border-image-slice: 1;
}
.Pokemon.fairy .type-border {
  border: 2px #D685AD solid;
}

.back-btn {
  overflow: hidden;
  position: relative;
  bottom: 45px;
  left: 85%;
  border: none;
  padding: 0;
  width: 1.9em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: #f0f0f0;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}
.back-btn:focus {
  outline: solid 0 transparent;
}
.back-btn:hover {
  background: #2e3033;
  color: #408c1b;
}
.back-btn:before, .back-btn:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}
.back-btn:after {
  transform: rotate(-45deg);
}

.data-main {
  display: flex;
  align-content: center;
  justify-content: center;
}

@keyframes main {
  0% {
    top: 0;
  }
  100% {
    top: 25%;
  }
}
@keyframes left {
  0% {
    right: 0px;
  }
  100% {
    right: 25%;
  }
}
@keyframes right {
  0% {
    left: 0px;
  }
  100% {
    left: 25%;
  }
}
.main-container {
  position: absolute;
  top: 25%;
  animation-name: main;
  animation-duration: 1s;
}
.main-container h2 {
  font-size: 45px;
  font-weight: 550;
  background: none;
}
.main-container p {
  font-size: 20px;
  margin-bottom: 20px;
}
.main-container .main-img-container {
  display: flex;
  flex-direction: row;
}
.main-container .main-img-container .main-img {
  width: 180px;
  image-rendering: pixelated;
}

.left-animation {
  animation-name: left;
  animation-duration: 1.5s;
}

.right-animation {
  animation-name: right;
  animation-duration: 1.5s;
}

.adjacent-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.adjacent-container.prev {
  position: relative;
  right: 25%;
}
.adjacent-container.next {
  position: relative;
  left: 25%;
}
.adjacent-container .adjacent-pokemon {
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.adjacent-container .adjacent-pokemon img {
  width: 100%;
  opacity: 50%;
}
.adjacent-container .adjacent-pokemon img:hover {
  opacity: 100%;
  width: 110%;
  transition: 0.5s;
}
.adjacent-container .adjacent-pokemon h3 {
  font-size: 20px;
}
.adjacent-container .adjacent-pokemon p {
  font-size: 15px;
}
.adjacent-container .arrow {
  background-color: #1a1c1a;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.data-container {
  position: relative;
  top: 13rem;
}

.PokedexData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.PokedexData h3 {
  margin: 10px 0;
  font-size: 22px;
}

.pokedex-data-title {
  margin-bottom: 30px;
  font-size: 30px;
}

.poke-type-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 40%;
  border-radius: 10px;
  background-color: #090a09;
}
.poke-type-container h3 {
  margin-bottom: 15px;
}

.pokedex-container {
  display: flex;
  align-items: center;
  width: 90%;
}
.pokedex-container div {
  margin: 15px 10%;
  border-radius: 10px;
  background-color: #090a09;
}

.poke-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classification {
  grid-area: classification;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.abilities {
  grid-area: abilities;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.height {
  grid-area: height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.weight {
  grid-area: weight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.local {
  grid-area: local;
  width: 80%;
}
.local div {
  display: flex;
}
.local div p {
  margin-right: 3px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "classification abilities local" "height weight local";
}

.training-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  background-color: #090a09;
}
.training-container div {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 30%;
  width: 80%;
}
.training-container div h3 {
  font-size: 22px;
  margin-right: 15px;
}
.training-container div p {
  font-size: 19px;
}

.StatData {
  width: 90%;
  color: #f0f0f0;
  margin: 50px auto 0;
}
.StatData .stat-graph {
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: #090a09;
}

.breeding-data-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 120px;
  border-radius: 10px;
  background-color: #090a09;
}
.breeding-data-container div {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 40%;
  width: 80%;
}
.breeding-data-container div h3 {
  font-size: 22px;
  margin-right: 10px;
}
.breeding-data-container div p {
  font-size: 19px;
  margin-left: 5px;
}

.evolution-data {
  display: flex;
  flex-direction: column;
}
.evolution-data .evolution-method {
  font-size: 20px;
  opacity: 80%;
}

.evolution-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.evolution-pokemon img {
  width: 15%;
  margin-top: 40px;
  image-rendering: pixelated;
}
.evolution-pokemon img:hover {
  width: 17%;
  transition: 0.5s;
}
.evolution-pokemon span {
  font-size: 25px;
  position: relative;
  bottom: 20px;
  margin-bottom: 70px;
}

.evo-arrow {
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 3px solid #f0f0f0;
  border-left: 3px solid #f0f0f0;
  transform: rotate(-135deg);
}
.evo-arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: #f0f0f0;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.entry-container {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: #090a09;
}

.entry {
  display: flex;
  margin: 20px;
  align-items: center;
}
.entry h3 {
  margin-right: 15px;
  clear: both;
  display: inline-block;
  text-align: start;
}
.entry p {
  font-size: 15px;
  text-align: start;
}

.moveset {
  width: 90%;
  margin: auto;
}

.move-title {
  font-size: 22px;
  margin: 40px 0 20px;
}

.level-move-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(max-content, 1fr));
  background-color: #090a09;
  padding: 7px 0;
}

.move-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  background-color: #090a09;
  padding: 7px 0;
}

.level-move {
  display: grid;
  grid-template-columns: repeat(6, minmax(max-content, 1fr));
  border-width: 1px !important;
  padding: 5px 0;
}

.move {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  border-width: 1px !important;
  padding: 5px 0;
}

@media screen and (max-width: 780px) {
  .Pokemon {
    width: 100%;
    margin: auto;
    border: none;
  }
  .main-container {
    margin-top: 25px;
  }
  .main-container .main-img-container .main-img {
    width: 120px;
  }
  .adjacent-container.prev {
    top: 90px;
    right: 37%;
  }
  .adjacent-container.next {
    top: 90px;
    left: 37%;
  }
  .adjacent-container .adjacent-pokemon {
    display: none;
  }
  .adjacent-container .arrow {
    background-color: #1a1c1a;
    border: none;
    outline: none;
    color: white;
    font-size: 25px;
    margin: 0 10px;
  }
  @keyframes left {
    0% {
      right: 25%;
    }
  }
  @keyframes right {
    0% {
      left: 25%;
    }
  }
  .poke-type-container {
    width: 98%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
  }
  .pokedex-container {
    width: 99%;
  }
  .pokedex-container div {
    width: 99%;
    margin: 0 0 15px;
    border-radius: 0;
    padding-bottom: 10px;
  }
  .local div {
    width: 70%;
    margin-left: 15px;
  }
  .pokedex-grid {
    display: flex;
    flex-direction: column;
    width: 99%;
  }
  .training-container {
    width: 98%;
    border-radius: 0;
    padding: 0;
  }
  .training-container div {
    display: flex;
    text-align: start;
  }
  .training-container p {
    text-align: start;
  }
  .StatData {
    width: 99%;
  }
  .StatData .stat-graph {
    padding: 0;
    border-radius: 0;
  }
  .breeding-data-container {
    width: 98%;
    border-radius: 0;
    padding: 0;
  }
  .breeding-data-container div {
    text-align: start;
  }
  .evolution-pokemon img {
    width: 120px;
    margin-top: 40px;
    image-rendering: pixelated;
  }
  .evolution-pokemon img:hover {
    width: 120px;
  }
  .evolution-pokemon span {
    font-size: 25px;
    position: relative;
    bottom: 20px;
    margin-bottom: 70px;
  }
  .entry-container {
    width: 98%;
    border-radius: 0;
  }
  .moveset {
    width: 99%;
  }
  .level-move-container h3,
  .move-container h3 {
    font-size: 12px;
    padding: 0 2px;
  }
  .level-move p,
  .move p {
    font-size: 11px;
  }
}
.Search {
  background-color: #1a1c1a;
  color: #f0f0f0;
  display: flex;
  height: 100px;
  align-items: center;
  padding-left: 3rem;
}
.Search h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 47px;
  letter-spacing: 2px;
  margin-right: 10%;
  cursor: pointer;
}

.search-form {
  margin-left: auto;
  margin-right: 2rem;
}
.search-form input {
  width: 250px;
  height: 32px;
  padding-left: 5px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
}
.search-form button {
  width: 50px;
  height: 32px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.search-form button img {
  width: 31.5%;
}
.search-form button:hover {
  background-color: antiquewhite;
}

@media screen and (max-width: 780px) {
  .Search {
    flex-direction: column;
    padding: 0;
  }
  .Search h2 {
    font-size: 27px;
    margin: 5px 0 0;
  }
  .search-form {
    display: flex;
    align-self: center;
    margin: auto;
  }
  .search-form input {
    width: 100px;
    height: 20px;
    font-size: 12px;
  }
  .search-form button {
    width: 30px;
    height: 20px;
  }
  .search-form button img {
    width: 10px;
  }
}
.Pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}

.page-container {
  display: flex;
}

.page-btn {
  background-color: #2e3033;
  display: block;
  float: left;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  margin: 7px;
  cursor: pointer;
}
.page-btn.inactive {
  color: #4f4f4f;
  pointer-events: none;
}
.page-btn:hover {
  color: #408c1b;
}

.page {
  display: flex;
  align-items: center;
}
.page .page-number {
  padding: 0 10px;
  background-color: #1a1c1a;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 4px;
  padding: 2px 10px;
  color: #f0f0f0;
  border: solid #f0f0f0 2px;
}
.page .page-number.current {
  background-color: #408c1b;
  pointer-events: none;
}
.page .page-number.none {
  display: none;
}
.page .page-number:hover {
  border-color: #408c1b;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #f0f0f0;
}

.dropdown-container {
  border-radius: 5px;
  height: 25px;
  width: 55px;
  margin: 8px;
  cursor: pointer;
}
.dropdown-container .dropdown-default {
  background-color: #8c8c8c;
}

@media screen and (max-width: 780px) {
  .page-container {
    justify-content: center;
  }
  .page-btn {
    display: none;
  }
  .page .page-number {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
  }
  .page .page-number p {
    font-size: 12px;
  }
}
.type {
  width: 60px;
  height: 20px;
  text-align: center;
  padding: 1px;
  border: #f0f0f0 solid 2px;
  border-radius: 5px;
  color: #f0f0f0;
  margin: 0 5px 15px;
  text-shadow: 1px 1px gray;
}
.type.normal {
  background-color: #A8A77A;
}
.type.normal p {
  background-color: #A8A77A;
  margin: 0;
}
.type.fire {
  background-color: #EE8130;
}
.type.fire p {
  background-color: #EE8130;
  margin: 0;
}
.type.water {
  background-color: #6390F0;
}
.type.water p {
  background-color: #6390F0;
  margin: 0;
}
.type.electric {
  background-color: #F7D02C;
}
.type.electric p {
  background-color: #F7D02C;
  margin: 0;
}
.type.grass {
  background-color: #7AC74C;
}
.type.grass p {
  background-color: #7AC74C;
  margin: 0;
}
.type.ice {
  background-color: #96D9D6;
}
.type.ice p {
  background-color: #96D9D6;
  margin: 0;
}
.type.fighting {
  background-color: #C22E28;
}
.type.fighting p {
  background-color: #C22E28;
  margin: 0;
}
.type.poison {
  background-color: #A33EA1;
}
.type.poison p {
  background-color: #A33EA1;
  margin: 0;
}
.type.ground {
  background-color: #E2BF65;
}
.type.ground p {
  background-color: #E2BF65;
  margin: 0;
}
.type.flying {
  background-color: #A98FF3;
}
.type.flying p {
  background-color: #A98FF3;
  margin: 0;
}
.type.psychic {
  background-color: #F95587;
}
.type.psychic p {
  background-color: #F95587;
  margin: 0;
}
.type.bug {
  background-color: #A6B91A;
}
.type.bug p {
  background-color: #A6B91A;
  margin: 0;
}
.type.rock {
  background-color: #B6A136;
}
.type.rock p {
  background-color: #B6A136;
  margin: 0;
}
.type.ghost {
  background-color: #735797;
}
.type.ghost p {
  background-color: #735797;
  margin: 0;
}
.type.dragon {
  background-color: #6F35FC;
}
.type.dragon p {
  background-color: #6F35FC;
  margin: 0;
}
.type.dark {
  background-color: #705746;
}
.type.dark p {
  background-color: #705746;
  margin: 0;
}
.type.steel {
  background-color: #B7B7CE;
}
.type.steel p {
  background-color: #B7B7CE;
  margin: 0;
}
.type.fairy {
  background-color: #D685AD;
}
.type.fairy p {
  background-color: #D685AD;
  margin: 0;
}/*# sourceMappingURL=index.css.map */